<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>welcomePage</servlet-name>
        <servlet-class>control.welcomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomePage</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>downloadApk</servlet-name>
        <servlet-class>control.downloadServlet</servlet-class>
        <init-param>
            <param-name>fileRoot</param-name>
            <param-value>d:/</param-value>
        </init-param>
        <init-param>
            <param-name>contentType</param-name>
            <param-value>application/octet-stream</param-value>
        </init-param>
        <init-param>
            <param-name>fileName</param-name>
            <param-value>test.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadApk</servlet-name>
        <url-pattern>/downloadApk</url-pattern>
    </servlet-mapping>
</web-app>